/* 
 * Colors
 */
$color-alpha: #fd625e; // red
$color-beta: #3eddc9; // cyan
$color-gamma: #824d77; // purple
$color-delta: darken(#d9d3bb, 10%); // grey
$color-epsilon: #f3f1e2; // light grey

/*
 * crystallo
 * 
 * Padding for the columns (section > div)
 */
$crystallo-padding: .5em;

$crystallo-padding-top: $crystallo-padding;
$crystallo-padding-right: $crystallo-padding;
$crystallo-padding-bottom: $crystallo-padding;
$crystallo-padding-left: $crystallo-padding;