@import "compass/css3";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/*
 * Use FontAwesome from weloveiconfonts.com
 */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-weight:normal;
} 

/*
 * Kudos
 */
$kudos_duration: 1.5s;
$kudos_duration_finish: .45s;
$kudos_width: 6em;
$kudos_height: 6em;
$kudos_color_alpha: #fff;
$kudos_color_beta: #cc3d39;

.kudos {
  color:#000;
  position:relative;
  width:$kudos_width;
  height:$kudos_height;
  margin:.5em auto 1.5em auto;
  background:$kudos_color_alpha;
  box-shadow:
    inset 0 0 0 .25em #000,
    inset 0 0 0 $kudos_width / 3 $kudos_color_alpha,
    inset 0 0 0 $kudos_width #000
  ; 
  line-height:$kudos_height;
  text-align:center;
  border-radius:50%;
  @include user-select(none);
  @include transition(box-shadow $kudos_duration_finish / 2 ease-out);
  
  &:before {
    @include transition(font-size $kudos_duration_finish ease-in);
    font-size:1.75em;
    line-height:1.75;
    color:$kudos_color_alpha;
  }
  
  &.active {
    @include transition(box-shadow $kudos_duration linear);
    box-shadow:
      inset 0 0 0 .25em #000,
      inset 0 0 0 0 $kudos_color_alpha,
      inset 0 0 0 .75em rgba($kudos_color_beta, .75),
      inset 0 0 0 $kudos_width $kudos_color_beta
    ;
      
    &:after {
       content: 'Don\'t move!';
    }
  }
  
  &.finish {
    @include transition(
      box-shadow $kudos_duration_finish linear,
      transform $kudos_duration_finish * 1.25 ease-in-out
    );
    box-shadow:
      inset 0 0 0 .25em rgba($kudos_color_beta, .5),
      inset 0 0 0 .5em $kudos_color_alpha,
      inset 0 0 0 .75em rgba($kudos_color_beta, .75),
      inset 0 0 0 1em $kudos_color_alpha,
      inset 0 0 0 0 $kudos_color_alpha,
      inset 0 0 0 $kudos_width $kudos_color_beta
    ;
      
    &:hover {
      @include transform(scale(1.25, 1.25), translateY(-.75em));
    }
    
    &:before {  
      font-size:2.25em;
      line-height:2.25;
      color:$kudos_color_alpha;
    }
  }
  
  &:after {
    position:absolute;
    content: attr(data-amount) ' Kudos';
    bottom:-1.25em;
    left:0;
    width:$kudos_width;
    text-align:center;
    line-height:1em;
  }
}