@import "compass/css3";
@import url(http://weloveiconfonts.com/api/?family=fontelico);

/*
 * Use Fontelico from weloveiconfonts.com
 */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
  font-weight:normal;
} 

/*
 * Kudos
 */
$kudos_duration: 1.5s;
$kudos_duration_finish: .45s;
$kudos_width: 6em;
$kudos_height: 6em;
$kudos_color_alpha: #fff; // default
$kudos_color_beta: $color-beta; // active
$kudos_color_gamma: $color-delta; // default border

.kudos {
  color:#000;
  position:relative;
  width:$kudos_width;
  height:$kudos_height;
  margin:.95em auto 1.5em auto;
  background:$kudos_color_alpha;
  box-shadow:
    inset 0 0 0 .25em $kudos_color_gamma,
    inset 0 0 0 $kudos_width / 3 $kudos_color_alpha,
    inset 0 0 0 $kudos_width $kudos_color_gamma
  ; 
  line-height:$kudos_height;
  text-align:center;
  border-radius:50%;
  @include transition(box-shadow $kudos_duration_finish / 2 ease-out);
  
  &:before {
    @include transition(font-size $kudos_duration_finish ease-in);
    font-size:1.45em;
    color:$kudos_color_alpha;
    line-height:1.45;
  }
  
  &.active {
    @include transition(box-shadow $kudos_duration linear);
    box-shadow:
      inset 0 0 0 .25em $kudos_color_gamma,
      inset 0 0 0 0 $kudos_color_alpha,
      inset 0 0 0 .75em rgba($kudos_color_beta, .75),
      inset 0 0 0 $kudos_width $kudos_color_beta
    ;
      
    &:after {
       content: 'Don\'t move!';
    }
  }
  
  &.finish {
    @include transition(
      box-shadow $kudos_duration_finish linear,
      transform $kudos_duration_finish * 1.25 ease-in-out
    );
    box-shadow:
      inset 0 0 0 .25em rgba($kudos_color_beta, .5),
      inset 0 0 0 .5em $kudos_color_alpha,
      inset 0 0 0 .75em rgba($kudos_color_beta, .75),
      inset 0 0 0 1em $kudos_color_alpha,
      inset 0 0 0 0 $kudos_color_alpha,
      inset 0 0 0 $kudos_width $kudos_color_beta
    ;
      
    &:before {  
      font-size:1.45em;
      color:$kudos_color_alpha;
      line-height:1.45;
    }
  }
  
  &:after {
    position:absolute;
    content: attr(data-amount) ' Kudos';
    bottom:-1.25em;
    left:0;
    width:$kudos_width;
    text-align:center;
    line-height:1em;
  }
}